<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/knwrp/IdeaProjects/guru99SeleniumProject/src/test/java/com/guru99/test/techpanda">
        <classes>
            <class name="com.guru99.test.techpanda.TestCompareTwoProducts">
                <methods>
                    <include name="compareTwoProductsTest"/>
                </methods>
            </class>
            <class name="com.guru99.test.techpanda.TestProductAmountMatchesProductPageDetails">
                <methods>
                    <include name="matchProductPriceWithProDetailPrice"/>
                </methods>
            </class>
            <class name="com.guru99.test.techpanda.TestSortTheProductsByName">
                <methods>
                    <include name="homePageTitleTest"/>
                    <include name="sortByNameTest"/>
                </methods>
            </class>
            <class name="com.guru99.test.techpanda.TestTheMaxiumQuantityOfProductWhichCanBeAdded">
                <methods>
                    <include name="checkTheMaximumOrder"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>